for i in 1..6
  h{i}
    margin: 0
    padding: 0

for i in 1..20
  .mv-{i}
    margin-top: unit(i, 'rem') !important
    margin-bottom: unit(i, 'rem') !important

  .mh-{i}
    margin-left: unit(i, 'rem') !important
    margin-right: unit(i, 'rem') !important

  .pv-{i}
    padding-top: unit(i, 'rem') !important
    padding-bottom: unit(i, 'rem') !important

  .ph-{i}
    padding-left: unit(i, 'rem') !important
    padding-right: unit(i, 'rem') !important

  .pt-{i}
    padding-top: unit(i, 'rem') !important

  .pb-{i}
    padding-bottom: unit(i, 'rem') !important

  .p-{i}
    padding: unit(i, 'rem') !important

  .mt-{i}
    margin-top: unit(i, 'rem') !important

  .mb-{i}
    margin-bottom: unit(i, 'rem') !important

  .ml-{i}
    margin-left: unit(i, 'rem') !important

  .mr-{i}
    margin-right: unit(i, 'rem') !important

  .m-{i}
    margin: unit(i, 'rem') !important

  .w-{i * 10}
    width: unit(i * 10, '%') !important

  .h-{i * 10}
    height: unit(i * 10, '%') !important

.ta-l
  text-align: left !important

.ta-c
  text-align: center !important

.ta-r
  text-align: right  !important

.upper
  text-transform: uppercase

.nomp
  margin: 0
  padding: 0
