@import 'ui/styles/theme'
@import 'ui/styles/mixins'

.pnk-calendar
  display: flex
  flex-direction: column
  height: unit($theme-wgt-size-step * 8, 'rem')
  padding: unit($theme-wgt-size-step/4, 'rem')
