$1 = 0.625 rem
$05 = $1 / 2
$025 = $1 / 4

$bp = {
  xxs: 480px
  xs: 576px
  sm: 768px
  md: 1024px
  lg: 1280px
  xl: 1440px
}

$ta = {
  l: left
  c: center
  r: right
}

$clr0-l     = #999999
$clr0-ll    = #FFFFFF
$clr0-d     = #333333
$clr0-dd    = #000000

$clr1       = #ff3100
$clr1-l     = #ff481d
$clr1-ll    = #ff5b34
$clr1-d     = #9c4f3d
$clr1-dd    = #741600

$clr2       = #ffcf00
$clr2-l     = #ffd51d
$clr2-ll    = #ffd934
$clr2-d     = #9c8a3d
$clr2-dd    = #745e00

$clr3       = #5e00b8
$clr3-l     = #7116c8
$clr3-ll    = #7a28c8
$clr3-d     = #4f2c70
$clr3-dd    = #2b0054

$clr4       = #00c24e
$clr4-l     = #17cf62
$clr4-ll    = #2acf6d
$clr4-d     = #2e744b
$clr4-dd    = #005824

$tran-x2    = .125s
$tran-x1    = .25s
$tran-x05   = .5s

$radius-sm  = .25rem
$radius-md  = .5rem
$radius-lg  = 1rem

$fnt-sns    = 'Alegreya Sans'
$fnt-srf    = 'Alegreya'
