$1 = 0.625 rem
$05 = $1 / 2
$025 = $1 / 4

$bp = {
  xxs: 480px
  xs: 576px
  sm: 768px
  md: 1024px
  lg: 1280px
  xl: 1440px
}

$clr0-l = #9A9A9A
$clr0-ll = #FFFFFF
$clr0-d = #323232
$clr0-dd = #000000

$clr1 = #57B244
$clr1-l = #89938C
$clr1-ll = #B1B8B3
$clr1-d = #4C584F
$clr1-dd = #28332B

$clr2 = #FF9920
$clr2-l = magenta
$clr2-ll = magenta
$clr2-d = magenta
$clr2-dd = magenta

$clr3 = #61636B
$clr3-l = #7E7F86
$clr3-ll = #A2A3A7
$clr3-d = #464850
$clr3-dd = #26282E

$tran-x2 = .125s
$tran-x1 = .25s
$tran-x05 = .5s

$radius-sm = .25rem
$radius-md = .5rem
$radius-lg = 1rem

$fnt-sns = 'IBM Plex Sans'
$fnt-srf = 'IBM Plex Serif'
