@import 'pnk/styles/theme'

.pnk-button
  normform()

  cursor: pointer
  font-family: $fnt-sns
  text-transform: uppercase
  color: $theme-wgt-primary-button-text
  border: 2px solid $clr2
  background-color: $clr2
  transition: $tran-x1 color, $tran-x1 background-color

  &:hover
    color: $clr0-d
    border: 2px solid $clr2
    background-color: $clr0-ll

  &:disabled
    cursor: unset
    opacity: .5

  &:disabled:hover
    color: $theme-wgt-primary-button-text
    background-color: $clr2

  &.block
    width: 100%

  &.x1
    height: unit($theme-wgt-size-step * 1, 'rem')
    padding: unit($theme-wgt-size-step / 4, 'rem')
    font-size: unit($theme-wgt-size-step / 2, 'rem')

  &.x2
    height: unit($theme-wgt-size-step * 1.5, 'rem')
    padding: unit($theme-wgt-size-step / 2, 'rem') unit($theme-wgt-size-step * 2, 'rem')
    font-size: unit($theme-wgt-size-step / 2, 'rem')

  &.x3
    height: unit($theme-wgt-size-step * 2, 'rem')
    padding: unit($theme-wgt-size-step / 1.6, 'rem') unit($theme-wgt-size-step * 4, 'rem')
    font-size: unit($theme-wgt-size-step / 1.625, 'rem')

  &.ico.x1
    width: unit($theme-wgt-size-step, 'rem')
    height: @width
    padding: 0

  &.ico.x2
    width: unit($theme-wgt-size-step * 1.5, 'rem')
    height: @width
    padding: 0

  &.ico.x3
    width: unit($theme-wgt-size-step * 2, 'rem')
    height: @width
    padding: 0
