@import 'ui/styles/theme'

.submit
  normform()

  cursor: pointer
  width: 100%
  height: unit($theme-wgt-size-step * 1.5, 'rem')
  padding: unit($theme-wgt-size-step / 4, 'rem')
  font-family: $fnt-sns
  font-size: unit($theme-wgt-size-step / 2, 'rem')
  text-transform: uppercase

  color: $theme-wgt-primary-button-text
  background-color: darken($theme-wgt-primary-button, 5)

  &:hover
    background-color: $theme-wgt-primary-button

  &:disabled
    cursor: unset
    opacity: .5

  &:disabled:hover
    background-color: darken($theme-wgt-primary-button, 5)
