// @font-face
//   font-family: 'SomeFont Sans'
//   font-style: normal
//   font-weight: 300
//   src: url('../assets/fonts/Some_Font_Sans/SomeFontSans-Thin.ttf') format('truetype')

// @font-face
//   font-family: 'SomeFont Sans'
//   font-style: normal
//   font-weight: 600
//   src: url('../assets/fonts/Some_Font_Sans/SomeFontSans-Bold.ttf') format('truetype')

// @font-face
//   font-family: 'SomeFont Serif'
//   font-style: normal
//   font-weight: 300
//   src: url('../assets/fonts/Some_Font_Serif/SomeFontSerif-Thin.ttf') format('truetype')

// @font-face
//   font-family: 'SomeFont Serif'
//   font-style: normal
//   font-weight: 600
//   src: url('../assets/fonts/Some_Font_Serif/SomeFontSerif-Bold.ttf') format('truetype')
