@import 'pnk/styles/widget'
@import 'pnk/styles/label'
@import 'pnk/styles/container'
@import 'pnk/styles/error'

pl-holder()
  font-weight: 400
  font-style: italic
  color: lighten($theme-wgt-text, 30)

.pnk-container
  &.x2
    border-width: $theme-wgt-border-size

  &.x3
    border-width: $theme-wgt-border-size * 2

.pnk-inline
  cursor: pointer
  padding: unit($theme-wgt-size-step / 4, 'rem')
  font-size: unit($theme-wgt-size-step / 2, 'rem')
  font-family: $fnt-sns
  font-weight: 600

  &::placeholder
    pl-holder()

  &::-ms-input-placeholder
    pl-holder()

  &::-webkit-input-placeholder
    pl-holder()

  &::-moz-placeholder
    pl-holder()

  &:-ms-input-placeholder
    pl-holder()

  &:-moz-placeholder
    pl-holder()

  &.x2
    width: "calc(100% - %s)" % unit($theme-wgt-size-step, 'rem')
    height: unit($theme-wgt-size-step, 'rem')
    padding: unit($theme-wgt-size-step / 4, 'rem')
    font-size: unit($theme-wgt-size-step / 2, 'rem')

  &.x3
    width: "calc(100% - %s)" % unit($theme-wgt-size-step * 1.875, 'rem')
    height: unit($theme-wgt-size-step * 1.875, 'rem')
    padding: unit($theme-wgt-size-step / 2, 'rem')
    font-size: unit($theme-wgt-size-step / 2, 'rem')

.pnk-dd-button
  cursor: pointer
  font-size: unit($theme-wgt-size-step / 2, 'rem')

  &.x2
    width: unit($theme-wgt-size-step, 'rem')
    height: unit($theme-wgt-size-step, 'rem')

  &.x3
    width: unit($theme-wgt-size-step * 1.875, 'rem')
    height: unit($theme-wgt-size-step * 1.875, 'rem')

.pnk-drawer-wrap
  position: relative
  width: 100%
  height: 0
  z-index: 10

  .pnk-date-drawer
    overflow: hidden
    border: $theme-wgt-border-size solid $theme-wgt-border
    border-top: none
    background-color: $theme-wgt-background

    &.x2
      border-width: $theme-wgt-border-size

    &.x3
      border-width: $theme-wgt-border-size * 2

.pnk-date-inner
  display: flex
  flex-direction: column
  height: unit($theme-wgt-size-step * 8.5, 'rem')
  padding: unit($theme-wgt-size-step/4, 'rem')
