@import 'styles/variables'
@import 'styles/mixins'
@import 'theme'

.pnk-error
  display: block
  color: $theme-wgt-error
  margin-top: unit($theme-wgt-size-step / 8, 'rem')
  height: unit($theme-wgt-size-step / 2, 'rem')
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  font-family: $fnt-sns
  font-size: unit($theme-wgt-size-step / 2.5, 'rem')
  font-style: italic
