@import 'styles/variables'
@import 'styles/mixins'

$theme-wgt-size-step              = 2       // in rems
$theme-wgt-border-size            = 1px
$theme-wgt-border                 = $clr0-d
$theme-wgt-text                   = $clr0-d
$theme-wgt-selection              = $clr0-d
$theme-wgt-background             = $clr0-ll
$theme-wgt-primary-button         = $clr0-d
$theme-wgt-primary-button-text    = $clr0-ll
$theme-wgt-error                  = $clr2
