@import 'ui/styles/theme';

.pnk-wgt
  background-color: alpha($theme-wgt-selection, .05)

.pnk-form
  padding: unit($theme-wgt-size-step, 'rem')
  max-width: $bp[md]
  margin: 0 auto

  @media(max-width: $bp[sm])
    padding: unit($theme-wgt-size-step / 2, 'rem')
