@import 'ui/styles/theme'
@import 'ui/styles/mixins'

.pnk-date-days
  display: flex
  flex-direction: column
  fullsize()

  .pnk-date-header
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    margin-bottom: unit($theme-wgt-size-step/4, 'rem')

    a
      font-weight: 600
      color: $theme-wgt-text
      text-decoration: none
      text-transform: uppercase

      &:hover
        text-decoration: underline

  .pnk-date-week
    width: 100%
    height: 100%
    display: block
    list-style: none
    margin: 0
    padding: 0

    .pnk-date-day
      display: inline-block
      width: calc(100% / 7)
      height: calc(100% / 7)
      text-align: right
      color: grey
      cursor: pointer

      &.disabled
        opacity: .25

      &.month
        color: black

      &.today
        color: red

      &.selected
        color: black
        background-color: red

      .pnk-date-wrapper
        fxcenter()

        &-weekday
          text-transform: uppercase
          font-weight: 600
