<!DOCTYPE html>
<html lang="ru">

{{ template "_head.html" . }}

  <body>
{{ block "content" . }}
    <h1>Punk's not dead!</h1>
{{ end }}

    <form action="." method="POST" data-type="fetch">
      <input type="text" name="firstname" required />
      <input type="text" name="lastname" required />
      <input type="tel" name="phone" />

      <input type="submit" value="Ololo!" />
    </form>
{{ template "_counters.html" }}
  <script type="text/javascript" src="/dist/vendor.js"></script><script type="text/javascript" src="/dist/bundle.js"></script></body>
</html>
